apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - namespace.yaml
  - vmsingle.yaml
  - scrape-config.yaml
  - httproute.yaml

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: victoria-metrics
